.DS_Store
.idea
.ipynb_checkpoints

P1_H_C3H_M004_17-cropped.zarr
P1_H_C3H_M004_17-processed.zarr

temp*


docs/20a_pixel_classification/test.cl
docs/20a_pixel_classification/my_model.cl
docs/20a_pixel_classification/test2.cl
*.pyc
data/CalibZAPWfixed_000154_max_labels.tif
data/y293-Gal4_vmat-GFP-f01.lif
data/tif_folder/*
schematics/Jaccard_index_sparse.png
schematics/Jaccard_index_binary.png
docs/29_algorithm_validation/ideas.ipynb
docs/29_algorithm_validation/solution for exercise - metrics to investigate segmentation results.ipynb
docs/22_feature_extraction/blobs_analysis.csv
data/S-BIAD634
