.DS_Store
.idea
.ipynb_checkpoints

P1_H_C3H_M004_17-cropped.zarr
P1_H_C3H_M004_17-processed.zarr

temp*


docs/20a_pixel_classification/test.cl
docs/20a_pixel_classification/my_model.cl
docs/20a_pixel_classification/test2.cl
*.pyc
